%boton {
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 0px;
    background-color: $bg-color__button;
    border: none;
    font-weight: bold;
    width: 100%;
    color: $color__button;
}