@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin titulo-h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: $color__titulo;
}

@mixin centrado-vh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

@mixin grid-height_auto {
    display: grid;
    height: auto;
}