$bg-color__navbar: rgb(8, 8, 8);
$bg-color__footer: rgb(8, 8, 8);
$bg-color__texto: rgba(8, 8, 8,0.5);
$bg-color__contacto: rgb(42, 42, 42);
$bg-color__financiacion: #CC8FCC;
$bg-color__button:#cf56cf;
$bg-color__button-hover:#d603d6;
$bg-gradiente:radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(213,211,211,1) 100%);

$color__nav-link:whitesmoke;
$color__footer:whitesmoke;
$color__acento:#CC8FCC;
$color__textos:rgb(43, 5, 46);
$color__titulo:rgb(8,8,8);
$color__precio:#cf56cf;
$color__financiacion:whitesmoke;
$color__contacto:whitesmoke;
$color__button:rgb(8, 8, 8);

$color__border-tarjeta:rgb(172,172,172);

$fz-h2:1.5rem;
$fz-h1:2rem;